div {
    padding : 5px;
    margin: 5px;
    border: solid 1px black;
    width: fit-content;
}
.div1{
    background: blue;
    text-decoration: line-through;
}
.div2{
    font-family: "Calibri Light";
}
.div3{
    font-family: "Arial";
}
.div4{
    background: green;
    color: white;
}
.div5{
    background: white;
}